<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">
	<link rel="stylesheet" href="/style/dashboard.css">
</head>
		<title>Job Discovery</title>
	<body>
		<div id="allthethings">
			<a class="button single" href="/game/solo">Solo</a><br><br>
			<a class="button mutiplayer" href="/game/multiplayer">Multijoueur</a><br><br>
			<a class="button settings" href="/users/profile">Paramètres</a><br><br>
			<a class="button quit" href="/users/logout">Quitter</a><br><br>
		</div>
		<div class="dyslexia">
			<button id="dyslexia-toggle" type="button" aria-pressed="false">Mode Dyslexique</button>
			<script type="text/javascript" src="/script/dyslexia.js"></script>
		</div>
	</body>
</html>
