<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Job Discovery</title>
        <link rel="stylesheet" href="/style/quizz.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">
    </head>
    <body>
		<div class="form">
        	<h1>Découvre quel métier est fait pour toi en réalisant ce quiz</h1>
        	<div id="quiz"></div>
        	<button id="submit">Voir le résultat</button>
        	<div id="results"></div>
        	<script type="text/javascript" src="/script/quizzscript.js"></script>
        	<button onclick="window.location.href='/game/solo';">Retour</button>
		</div>
		<div class="dyslexia">
			<button id="dyslexia-toggle" type="button" aria-pressed="false">Mode Dyslexique</button>
			<script type="text/javascript" src="/script/dyslexia.js"></script>
		</div>
    </body>
</html>