<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style/solo.css">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
		<title>Job Discovery</title>
	</head>
	<body>
		<div id="allthethings">
			<a class="button search" href="/game/solo/choice">Choix de métier</a><br><br>
			<a class="button arrow" href="/game/solo/quizz">Questionnaire</a><br><br>
			<a class="button settings" href="/users/profile">Paramètres</a><br><br>
			<a class="button quit" href="/dashboard">Menu principal</a>
		</div>
		<div class="dyslexia">
			<button id="dyslexia-toggle" type="button" aria-pressed="false">Mode Dyslexique</button>
			<script type="text/javascript" src="/script/dyslexia.js"></script>
		</div>
	</body>
</html>